<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Time Recode</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/?size=100&id=9RltCaVrpXLu&format=png&color=000000">
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
